/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

ul, menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}



body {
    font-family: "Raleway", sans-serif;
}

:root {
    /* color  */
    --color_black: #000;
    --color_white: #fff;
    --color-gray: #e2e2e2;
    --color-gray-1: #b8b2b2;

    /* padding  */
    --pt: 40px;
    --pb: 40px;
}



/* header section  */
.header_section {
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: var(--color_white);
    z-index: 10;
}
.header_section .logo{
    width: 20%;
}

.header_section .logo a img{
    max-width: 120px;
    max-height: 120px;
    object-fit: cover;
}

.main_menu {
    width: 70%;
}

.menu_items li a {
    font-size: 1.12rem;
    font-weight: 500;
    color: var(--color_black);
    position: relative;
    

}
.menu_items li a::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: var(--color_black);
    transition: all 0.3s;
    transform-origin: left;
}
.menu_items li a:hover::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: var(--color_black);
    
}

.lang_translate button.lang_t {
    border: 2px solid var(--color_black);
}


button.lang_t .goog-te-gadget {
    font-family: "Raleway", sans-serif;
    font-size: 11px;
    color: #666;
    white-space: nowrap;
}


/* banner section  */
.banner_section {
    padding-bottom: var(--pt);
}


.article_section {
    padding-bottom: var(--pb);
}

.banner img {
    max-height: 400px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* article section  */
.article_title {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color_black);
    margin-bottom: 1.5rem;
}

.article_texts article {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color_black);
    line-height: 1.8rem;
}


.article_image img {
    width: 100%;
    max-height: 300px;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.slider_item {
    max-height: 150px;
    height: 100%;
}

.slider_item img {
    width: 100%;
    min-height: 150px;
    height: 100%;
    object-fit: cover;
}



/* footer section  */
.footer_section {
    border-top: 1px solid var(--color-gray);
}

.footer_item li a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-gray-1);
    position: relative;
    

}
.footer_item li a.home_page::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: var(--color_black);
    transition: all 0.3s;
    transform-origin: left;
}
.footer_item li a.home_page:hover::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: var(--color_black);
    
}
.footer_item li a.about_page::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: var(--color_black);
    transition: all 0.3s;
    transform-origin: left;
}
.footer_item li a.about_page:hover::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: var(--color_black);
    
}

.social_icons li a {
    font-size: 1.25rem;
    color: var(--color-gray-1);
    font-weight: 500;
    transition: all .3s ease;
}
.social_icons li a:hover {
    font-size: 1.25rem;
    color: var(--color-black);
}


/* footer bottom  */
.footer_bottom {
    border-top: 1px solid var(--color-gray);
}

.copyright {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-gray-1);
    text-transform: capitalize;
}